body
{
    display:flex;
    justify-content: center;
    background-color:rgb(104, 104, 104);
    background-image: url(/images/background.webp);
    margin: 0;
}
.container
{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    background: rgba(255, 255, 255, 0.089);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.grid-container
{
    text-align: center;
    align-items: center;
    justify-content: center;
}
#start-btn
{
    border-radius: 4px;
    margin-bottom: 1em;
    padding: 5px;
    font-size: large;
    cursor: pointer;
}
.grid
{
    border-top: 4px solid black;
    border-right: 4px solid black;
    border-left: 4px solid black;
    border-bottom: 4px solid black;
    width: 400px;
    height: 800px;
    background-color: grey;
    padding: 2px;
    gap: 1px;
    display: flex;
    flex-wrap: wrap;
    overflow:hidden;
}
.grid div
{
    width: 39px;
    height: 39px;
    background-color: black;
    border-radius: 2px;
    overflow: hidden;
}
.mini-grid
{
    width: 160px;
    height: 200px;
    border: 4px solid black;
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    padding: 2px;
}
.mini-grid .empty
{
    width: 39px;
    width: 39px;
    background-color: black;
}
.mini-grid-container
{
    text-align: center;
    font-weight: 600;
}
.block 
{
    box-shadow: whitesmoke 0px 0px 2px 1px;
    background-color: #F44336 !important;
}
.stop
{
   background-color: transparent !important;
}

.lBlock {
    background-color: #F44336 !important; /* red */
}
  
.zBlock {
    background-color: #4CAF50 !important; /* green */
}
  
.tBlock {
    background-color: #9C27B0 !important; /* purple */
}
  
.oBlock {
    background-color: #FFEB3B !important; /* yellow */
}
  
.iBlock {
    background-color: #2196F3 !important; /* blue */
}