html
{
    height: 100%;
}
body
{
    height: 100%;
    display:flex;
    justify-content: center;
    background-color:rgb(104, 104, 104);
    background-image: url(/images/background.webp);
    margin: 0;
}
.music
{
    position: absolute;
    z-index: -100;
    visibility: hidden;
}
iframe
{
    z-index: -100;
}
.container
{
    position: relative;
    background-image: url(/images/background.webp);
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    background: rgba(255, 255, 255, 0.089);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.grid-container
{
    text-align: center;
    align-items: center;
    justify-content: center;
}
#start-btn
{
    margin-bottom: 1em;
    padding: 5px;
    
    cursor: pointer;
}
.grid
{
    border-top: 4px solid black;
    border-right: 4px solid black;
    border-left: 4px solid black;
    border-bottom: 4px solid black;
    width: 400px;
    height: 800px;
    background-color: rgba(20, 20, 20, 0.904);
    padding: 2px;
    gap: 2px;
    display: flex;
    flex-wrap: wrap;
    overflow:hidden;
}
.grid div
{
    width: 38px;
    height: 38px;
    background-color: black;
    border-radius: 2px;
    overflow: hidden;
}
.mini-grid
{
    width: 160px;
    height: 200px;
    border: 4px solid black;
    background-color: rgba(20, 20, 20, 0.904);
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    padding: 5px;
}
.mini-grid div
{
    border-radius: 2px;
}
.mini-grid .empty
{
    width: 38px;
    width: 38px;
    background-color: black;
}
.mini-grid-container
{
    text-align: center;
    font-weight: 600;
}
.block 
{
    box-shadow: white 0px 0px 0px 2px;
    background-color: #F44336 !important;
}
.stop
{
   background-color: transparent !important;
}

.lBlock {
    background-color: #F44336 !important; /* red */
}
  
.zBlock {
    background-color: #4CAF50 !important; /* green */
}
  
.tBlock {
    background-color: #9C27B0 !important; /* purple */
}
  
.oBlock {
    background-color: #FFEB3B !important; /* yellow */
}
  
.iBlock {
    background-color: #2196F3 !important; /* blue */
}

.testBtn
{
    padding: 5px;
    font-size: 1em;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid black;
    transition: 0.1s;
    box-shadow: 0 6px #3b3b3b;
}

.testBtn:active
{
    box-shadow: 0 0px #3b3b3b;
    transform: translateY(4px); 
}

.instructions-container
{
    position: absolute;

    left: 4em;
}
#keyboard-list
{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2em;
}
#keyboard-list > li
{
    display: flex;
    align-items: center;
    gap: 1em
}
#keyboard-list > li > span
{
    font-weight: 600;
    font-size: 2em;
}
.keyboard
{
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    min-width: fit-content;
    width: 3em;
    height: 3em;
    overflow: hidden;
    padding: 6px;
  
    background-color: #b7ad9b;
    border: 4px solid #857e71;
    border-radius: 8px;
}
.keyboard::before
{
    content: "";
    position: absolute;

  
    width: 90%;
    height: 90%;
  
    border: 4px solid #d9ccbc;
    border-radius: 8px;
  }
.key
{
    position: relative;
  
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: fit-content;
    z-index: 50;
    width: 1.5em;
    height: 1.5em;
    cursor: default;
  
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    color: #009bd1;
  
    background-color: #eee0ce;
    border: 2px solid #f6e5d6;
    border-radius: 6px;
    box-shadow: 0 -10rem 10rem 3rem #f6e5d6,inset 0rem -0.8rem 2rem #baaf9e;
}
.angle-shadow
{
  position: absolute;
}

.angle-shadow.top-section
{
  top: 2.2em;

  width: 4em;
  height: 0.5rem;

  background-color: #f6e5d6;
  box-shadow: 0 0 4px #f6e5d6;
}

.angle-shadow.bottom-section
{
  bottom: 2em;
  width: 3em;

  border-right: 4px solid transparent;
  border-bottom: 6px solid #dfd2bf;
  border-left: 4px solid transparent;
}

.angle-shadow.left-top
{
  left: 0.5rem;

  transform: rotate(36deg);
}

.angle-shadow.right-top
{
  right: 0.5rem;

  transform: rotate(-36deg);
}

.angle-shadow.left-bottom
{
  left: 12px;

  transform: rotate(130deg);
}

.angle-shadow.right-bottom
{
  right: 12px;

  transform: rotate(-130deg);
}