body
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:coral;
}
.grid
{
    width: 400px;
    height: 800px;
    background-color: darkcyan;
    display: flex;
    flex-wrap: wrap;
}
.grid div
{
    width: 38px;
    height: 38px;
    border: 1px solid grey;
    border-radius: 4px;
    overflow: hidden;
}
.block 
{
    background-color: red;
    border: 1px solid black !important;
}